.cost-card {
  flex: 0 1 440px;
  padding-bottom: 37px;
  .cost-card__title {
    width: 100%;
    text-align: center;
    background-color: #172c42;
    padding: 10px!important;
    color: white;
    font-size: 30px;
  }

  .cost-card__body {
    position: relative;
    width: 100%;
    @extend %main__container;
    -webkit-box-shadow: 0px 2px 41px 10px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 2px 41px 10px rgba(0,0,0,0.37);
    box-shadow: 0px 2px 41px 10px rgba(0,0,0,0.37);
  }

  .cost-card__list {
    font-family: "MullerLight";
    font-size: 17px;
    line-height: 20px;
    padding: 40px 55px 20px 65px;
    border-bottom: 1px solid #e2e2e2;
    li {
      position: relative;
      margin-bottom: 20px;
      &:before {
        content: url("interface.png");
        position: absolute;
        left: -40px;
      }
    }

  }

  .cost-card__value {
    @extend %main__container;
    font-family: 'MullerLight';
    font-size: 30px;
    min-height: 160px;
    justify-content: flex-start!important;
    padding-top: 20px;

    .hot-price {
      font-family: 'MullerBlack';
      font-size: 50px;
    }
  }

  .cost-card__btn {
    position: absolute;
    bottom: -37px;
    width: 70%;
    background-color: #ff213b;
    padding: 25px 0;
    color: white;
    font-family: 'FiraSans';
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color:#f80025;
    }
  }
}
