.reviews {
  padding: 35px 0;

  &__container {
    @extend %main__container;
  }
  &__slider {
    @extend %size-w-h-100;
  }
  .swiper-container {
    width: 100%;
    padding: 0 75px;
    height: 100%;
    position: relative;
    @extend %flex-box-center;
  }
  .swiper-slide {
    @extend %flex-box-center;
    img {
      @extend %size-w-h-100;
    }
  }


  %swiper-btn-container {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    @extend %flex-box-center;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.69);
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.69);
    cursor: pointer;
    z-index: 9999;
  }
  %swiper-button-arrow {
    border: solid #090909;
    border-width: 0 3px 3px 0;
    padding: 10px;
    display: inline-block;
    position: absolute;
  }

  .swiper-button-next {
    position: absolute;
    right: 6px;
    @extend %swiper-btn-container;
    &:after {
      content: ' ';
      @extend %swiper-button-arrow;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      right: 37%;
    }
    z-index: 1000;
  }
  .swiper-button-prev {
    position: absolute;
    left: 6px;
    @extend %swiper-btn-container;
    &:after {
      content: ' ';
      @extend %swiper-button-arrow;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      left: 37%;
    }
  }

  @media (max-width: 940px) {
    padding: 25px 0 0;
    @media (max-width: 800px) {
      display: none;
    }
  }
}
